ignore-scripts=false
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=wrtc
onlyBuiltDependencies[]=tuntap2
